@import "tailwindcss";

@theme {
  --color-whisky-50: #faf8f3;
  --color-whisky-100: #f4f0e6;
  --color-whisky-200: #e8ddc4;
  --color-whisky-300: #d9c59d;
  --color-whisky-400: #c8a76e;
  --color-whisky-500: #b8894c;
  --color-whisky-600: #a57040;
  --color-whisky-700: #895836;
  --color-whisky-800: #704831;
  --color-whisky-900: #5c3d2b;
}
